#info-controls {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    background-color: #484848;
    padding: 10px;
    border-radius: 5px;
}

#transport-controls {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  background-color: #484848;
  padding: 10px;
  border-radius: 5px;
}

#camera-controls {
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 10px;
  display: flex;
  background-color: #484848;
  padding: 10px;
  border-radius: 5px;
}

#shift-icon.emphasized {
  border: 2px solid #000; 
  background-color: #ccc; 
}

.icon {
  background-color: transparent;
  border: none;
  margin-right: 10px;   
  opacity: 0.3; /* Adjust as needed */

}

.icon img{
  width: 50px;
  height: 50px;
}

.control-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.control-button img {
    width: 60px;
    height: 60px;
}

#record-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 15px solid; /* White circle border color */
    position: relative;
    transition: background-color 0.5s, border-color 0.5s; /* Smooth transition for color changes */
    cursor: pointer;
}

/* Idle state, yellow circle with red outline */
.idle {
    background-color: rgb(255, 255, 255);
    border-color: red;
  }
  
  /* Recording state, blinking red */
  .recording {
    background-color: rgb(254, 45, 45);
    border-color: rgb(255, 255, 255);
    animation: blinkAnimation 1s infinite; /* Blinking effect */
  }
  
  /* Saved state, solid red */
  .saved {
    background-color: rgb(254, 45, 45);
    border-color: red;
  }
  
  /* Keyframes for blinking animation */
  @keyframes blinkAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

